services:
  db:
    image: postgres:15
    container_name: taskflow_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: taskflow
    ports:
      - "8000:8000"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: